<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Global</key>
	<dict>
		<key>Back</key>
		<string>#101419</string>
		<key>Label</key>
		<string>#FFFFFF</string>
		<key>NavBack</key>
		<string>#1d2228</string>
		<key>NavBorder</key>
		<string>#080a0d</string>
		<key>NavInputBack</key>
		<string>#121212</string>
		<key>NavBtnPush</key>
		<string>#C8C8C8</string>
		<key>NavTxt</key>
		<string>#C8C8C8</string>
		<key>NavPrompt</key>
		<string>#808080</string>
		<key>TNavBtnBorder</key>
		<string>#FFFFFF</string>
		<key>TNavBack</key>
		<string>#F0F2F1</string>
		<key>TNavTxt</key>
		<string>#5A5A5A</string>
		<key>TNavSplit</key>
		<string>#CCCCCC</string>
		<key>BNavBack</key>
		<string>#1D2228</string>
		<key>BNavSplit</key>
		<string>#272B30</string>
		<key>BNavTxt</key>
		<string>#646464</string>
		<key>BNavTxtSel</key>
		<string>#2C53B6</string>
		<key>TabBack</key>
		<string>#1A1F24</string>
		<key>TabBackSp</key>
		<string>#1A1F24</string>
		<key>TabTxt</key>
		<string>#828282</string>
		<key>TabTxtSel</key>
		<string>#2C53B6</string>
		<key>TabSplit</key>
		<string>#080A0D</string>
		<key>TabUnderLine</key>
		<string>#1B48B7</string>
		<key>SliderTxt</key>
		<string>#919191</string>
		<key>SliderLeft</key>
		<string>#1B48B7</string>
		<key>SliderRight</key>
		<string>#BCBCBC</string>
		<key>EditBack</key>
		<string>#121212</string>
		<key>EditBorder</key>
		<string>#CCCCCC</string>
		<key>EditBorderSel</key>
		<string>#F59C0C</string>
		<key>EditTxt</key>
		<string>#AEAEAE</string>
		<key>EditFocusTxt</key>
		<string>#AEAEAE</string>
		<key>EditPrompt</key>
		<string>#808080</string>
		<key>FormBack</key>
		<string>#11141A</string>
		<key>FormTitleTxt</key>
		<string>#B1BCC3</string>
		<key>FormTxt</key>
		<string>#BEBEBE</string>
		<key>FormNote</key>
		<string>#BEBEBE</string>
		<key>FormCatBack</key>
		<string>#222931</string>
		<key>FormCatTxt</key>
		<string>#BEBEBE</string>
		<key>FormSplit</key>
		<string>#1B48B7</string>
		<key>FormBtnBack</key>
		<string>#FFFFFF</string>
		<key>FormBtnBackPush</key>
		<string>#1B48B7</string>
		<key>FormBtnBorder</key>
		<string>#1B48B7</string>
		<key>FormBtnBorderPush</key>
		<string>#1B48B7</string>
		<key>FormBtnTxt</key>
		<string>#1B48B7</string>
		<key>FormBtnTxtPush</key>
		<string>#FFFFFF</string>
		<key>ListBack</key>
		<string>#000000</string>
		<key>ListItemBack</key>
		<string>#101419</string>
		<key>ListItemPush</key>
		<string>#20262D</string>
		<key>ListItemTxt</key>
		<string>#DCDCDC</string>
		<key>ListSubItemTxt</key>
		<string>#666666</string>
		<key>ListBlockTxt</key>
		<string>#FFFFFF</string>
		<key>ListBlockUp</key>
		<string>#AB3B1D</string>
		<key>ListBlockUpPush</key>
		<string>#8F3219</string>
		<key>ListBlockDn</key>
		<string>#357F35</string>
		<key>ListBlockDnPush</key>
		<string>#286028</string>
		<key>ListBlockEq</key>
		<string>#525A61</string>
		<key>ListBlockEqPush</key>
		<string>#3A4045</string>
		<key>ListSplit</key>
		<string>#252C33</string>
		<key>ListCatBack</key>
		<string>#161A1F</string>
		<key>ListCatSplit</key>
		<string>#252C33</string>
		<key>ListCatSplitUnder</key>
		<string>#080A0D</string>
		<key>ListCatTxt</key>
		<string>#646464</string>
		<key>ListHeadBack</key>
		<string>#F5F5F5</string>
		<key>ListHeadTxt</key>
		<string>#323232</string>
		<key>SListBack</key>
		<string>#101419</string>
		<key>SListItemBack</key>
		<string>#101419</string>
		<key>SListItemPush</key>
		<string>#20262D</string>
		<key>SListItemTxt</key>
		<string>#DCDCDC</string>
		<key>SListItemOption</key>
		<string>#FFFFFF</string>
		<key>SListSplit</key>
		<string>#252C33</string>
		<key>OptBack</key>
		<string>#FFFFFF</string>
		<key>OptMask</key>
		<string>#000000</string>
		<key>OptTitleBack</key>
		<string>#FFFFFF</string>
		<key>OptTitleTxt</key>
		<string>#323232</string>
		<key>OptTitleSplit</key>
		<string>#C5000E</string>
		<key>OptItemBack</key>
		<string>#FFFFFF</string>
		<key>OptItemTxt</key>
		<string>#323232</string>
		<key>OptItemPush</key>
		<string>#EBEBEB</string>
		<key>OptItemSplit</key>
		<string>#DCDCDC</string>
		<key>OptBtnBack</key>
		<string>#FFFFFF</string>
		<key>OptBtnTxt</key>
		<string>#323232</string>
		<key>OptBtnSplit</key>
		<string>#CCCCCC</string>
		<key>MenuBack</key>
		<string>#1d2228</string>
		<key>MenuBorder</key>
		<string>#2b3541</string>
		<key>MenuItemBack</key>
		<string>#353A43</string>
		<key>MenuItemTxt</key>
		<string>#929292</string>
		<key>MenuItemPush</key>
		<string>#34373C</string>
		<key>MenuItemSplit</key>
		<string>#28303B</string>
		<key>MenuArrow</key>
		<string>#C5000E</string>
		<key>TipBack</key>
		<string>#ffffff</string>
		<key>TipMask</key>
		<string>#000000</string>
		<key>TipTxt</key>
		<string>#323232</string>
		<key>TipBtnCancle</key>
		<string>#323232</string>
		<key>TipBtnOk</key>
		<string>#f59c0c</string>
		<key>TipBtnExit</key>
		<string>#c5000e</string>
		<key>TipBtnDel</key>
		<string>#c5000e</string>
		<key>TipSplit</key>
		<string>#c5000e</string>
		<key>ToastBack</key>
		<string>#535353</string>
		<key>ToastTxt</key>
		<string>#ffffff</string>
		<key>FootBarBack</key>
		<string>#1A1F24</string>
		<key>FootBarBackPush</key>
		<string>#FFFFFF26</string>
		<key>FootBarTxt</key>
		<string>#929292</string>
		<key>FootBarTxtPush</key>
		<string>#929292</string>
		<key>FootBarSplit</key>
		<string>#1A1F24</string>
		<key>PagePosBack</key>
		<string>#101419</string>
		<key>PagePosBar</key>
		<string>#1B48B7</string>
		<key>QuoteBack</key>
		<string>#11141a</string>
		<key>QuoteSplit</key>
		<string>#252C33</string>
		<key>QuoteSplitUnder</key>
		<string>#252C33</string>
		<key>QuoteVSplit</key>
		<string>#252C33</string>
		<key>QuoteTxt</key>
		<string>#959AA6</string>
		<key>QuoteTxtLight</key>
		<string>#1B48B7</string>
		<key>QuoteTxtGray</key>
		<string>#929292</string>
		<key>QuoteBlockGray</key>
		<string>#989898</string>
		<key>ChartBack</key>
		<string>#ffffff</string>
		<key>ChartRect</key>
		<string>#D2D2D2</string>
		<key>ChartLine</key>
		<string>#ffe0b4</string>
		<key>ChartAverageLine</key>
		<string>#fa796a</string>
		<key>ChartFades</key>
		<string>#FFE1B8</string>
		<key>ChartFades2</key>
		<string>#FFFAF2</string>
		<key>ChartCursor</key>
		<string>#F05752</string>
		<key>ChartCursorBack</key>
		<string>#101419</string>
		<key>ChartCursorBorder</key>
		<string>#303030</string>
		<key>ChartCursorTxt</key>
		<string>#DCDCDC</string>
		<key>ChartTime</key>
		<string>#FFFF52</string>
		<key>ChartFloatBoard</key>
		<string>#ffffff</string>
		<key>PriceUp</key>
		<string>#f80101</string>
		<key>PriceDn</key>
		<string>#04ba23</string>
		<key>ChartVolumeAdd</key>
		<string>#E23C55</string>
		<key>ChartVolumeRemove</key>
		<string>#2BBE65</string>
		<key>PriceEq</key>
		<string>#adb4c1</string>
		<key>KBack</key>
		<string>#ffffff</string>
		<key>KRect</key>
		<string>#ffffff</string>
		<key>KSplit</key>
		<string>#2B3541</string>
		<key>KItemTxt</key>
		<string>#DCDCDC</string>
		<key>KTechName</key>
		<string>#6e96e5</string>
		<key>KTechLine1</key>
		<string>#996633</string>
		<key>KTechLine2</key>
		<string>#28678D</string>
		<key>KTechLine3</key>
		<string>#AE6FC7</string>
		<key>KTechLine4</key>
		<string>#B89B34</string>
		<key>KTechLine5</key>
		<string>#000000</string>
		<key>KTechLine6</key>
		<string>#000000</string>
		<key>KLineUp</key>
		<string>#C04058</string>
		<key>KLineDn</key>
		<string>#2BBE65</string>
		<key>KLineEq</key>
		<string>#EB1A28</string>
		<key>KXAsixVal</key>
		<string>#929292</string>
		<key>KYAsixVal</key>
		<string>#D9542A</string>
		<key>KCursor</key>
		<string>#B0B0B0</string>
		<key>KCursorBack</key>
		<string>#101419</string>
		<key>KCursorBorder</key>
		<string>#303030</string>
		<key>KCursorTxt</key>
		<string>#DCDCDC</string>
		<key>KChartTime</key>
		<string>#FFFF52</string>
		<key>GuideBack</key>
		<string>#808080D0</string>
		<key>TradeTopBack</key>
		<string>#1A1D22</string>
		<key>TradeTypeTxt</key>
		<string>#5c5f66</string>
	</dict>
</dict>
</plist>
